export EDITOR=/usr/bin/vim
function EXT_COLOR () { echo -ne "\[\033[38;5;$1m\]"; }
export PS1="{{ shell_prompt }}"
PATH=$PATH:/var/www/vendor/bin:/var/www/dev/bin:$HOME/.composer/vendor/bin
cd /var/www

# additional helpful things
alias pa="php artisan"
alias cdv="cd /var/www"
# up & down map to history search once a command has been started.
bind '"\e[A":history-search-backward'
bind '"\e[B":history-search-forward'
